.about {
    margin-top: 30px;
    line-height: 1.4em;
}

.hobbies {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 600px) {
    .hobby {
        flex-basis: 100%;
    }
    
    .sub-title {
        text-align: center;
    }
}

.hobby {
    margin-top: 30px;
    display: inline-block;
    text-align: center;
    font-size: 0.8em;
}

.hobby__image {
    width: 64px;
}

.hobby__title {
    margin-top: 10px;
}