body {
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #eee;
    margin: 1em 0;
    padding: 0;
}

small {
    font-size: 0.7em;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.small-container {
    max-width: 720px;
    margin: 0 auto;
}

.content {
    padding: 50px 10px;
}

.page-title {
    font-size: 2em;
    padding: 10px 0 10px 0;
    font-family: 'Arvo', serif;
}

.sub-title {
    font-size: 1em;
    padding: 10px 0 10px 0;
    font-family: 'Arvo', serif;
}

.row {
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 0;
    flex-grow: 1;
}

.col-6 {
    width: 50%;
}

.col, .col-12 {
    width: 100%;
}

.bg-gray {
    background-color: #f9f9f9;
}